<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LoteRpsSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CancelarNfseSoapBinding" />
        <binding name="ConsultarNfsePorRpsSoapBinding" />
        <binding name="RecepcionarLoteRpsSincronoSoapBinding" />
        <binding name="LoteRpsSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tatui.sistemas4r.com.br/abrasf/acancelarnfse.aspx"
        binding="basicHttpBinding" bindingConfiguration="CancelarNfseSoapBinding"
        contract="SPTatuiNFSeCancelarNFSe.CancelarNfseSoapPort" name="CancelarNfseSoapPort" />
      <endpoint address="http://tatui.sistemas4r.com.br/abrasf/aconsultarnfseporrps.aspx"
        binding="basicHttpBinding" bindingConfiguration="ConsultarNfsePorRpsSoapBinding"
        contract="SPTatuiNFSeConsultarNFSePorRPS.ConsultarNfsePorRpsSoapPort"
        name="ConsultarNfsePorRpsSoapPort" />
      <endpoint address="http://tatui.sistemas4r.com.br/abrasf/arecepcionarloterpssincrono.aspx"
        binding="basicHttpBinding" bindingConfiguration="RecepcionarLoteRpsSincronoSoapBinding"
        contract="SPTatuiNFSeRecepcionarLoteRPSSincrono.RecepcionarLoteRpsSincronoSoapPort"
        name="RecepcionarLoteRpsSincronoSoapPort" />
      <endpoint address="https://issdigital.sorocaba.sp.gov.br/WsNFe2/LoteRps.jws"
        binding="basicHttpBinding" bindingConfiguration="LoteRpsSoapBinding"
        contract="SPSorocabaNFSe.LoteRps" name="LoteRpsSorocaba" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
